*.log
*.o
*.txt
*.stdout
tutorials/*
*.out
*.swp

!tutorials/mpi-send-and-receive
send_recv
*.btr
*.md
*_stock.*
.DS_Store

SerialPI

autograder
mpi
openmp
particles.session
pthreads
serial

hello
linked
matmul
pi
prod_cons

